/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
   text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}
body , html {
    overflow-x: hidden;
}
/* NAVBAR */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1478001517127-fccc92f54906?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.header-content{
    margin-bottom: 150px;
    color: black;
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
} 
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke; 
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* Events */
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color: #222222;
    padding: 0px 40px;
}
.events .ctn{
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1465310477141-6fb93167a273?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fGV4cGxvcmUlMjBoZCUyMGltYWdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 70%;
    padding: 50px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 7vmin;
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: whitesmoke;
}
.explore-content ctn{
    margin-top: 80px;
}
.content-col {
    width: 50%;
}
.image-col{
    width: 60%;
}
.tous .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    max-width: 230px;
    margin: 5px;
}
.content-col h1{
    font-size: 4vmin;
    color: #484872;
}
.content-col .line{
    /* margin-left: -1px; */
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col ctn{
    margin-left: -100px;
}
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
/* Mobile device */
@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    /* EVENTs */
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
    /* explore */
    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%;
    }
    .footer{
        padding: 10px;
    }
}
/* ANIMATIONS */
img{
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1)
}
.ctn:hover{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056;
}
li:hover{
    color: #fc036b;
}